/*
    Author: Muhammad Haaris Jahir Hussain
    C0883931
*/
body {
    border-style: solid;
}

#banner {
    padding: 2%;
    background-color: #4267B2;
    color: white;
}

select {
    background-color: #4267B2;
    color: white;
}

#content {
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}

#button {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}